<h1>About Me</h1><hr>
<p>Hi, I'm <b>Tran Manh Dat</b>, an undergraduate student at <b>Greenwich Vietnam</b>, and my student ID is <b>GCD210057</b>. I want to share with you a little bit about myself and my hobbies.<br>
<br>
    One of my biggest hobbies is coding and listening to remixes. I love creative work and love to explore new technologies. When I code, I feel like I'm building my own world where I can express my ideas and create unique products. Along with coding, I often listen to remix music to create a creative and energetic space.

    In addition, I also love going to the beach every afternoon. The harmony between the sound of the waves and the cool air gives me a feeling of relaxation and refreshment. Bathing in the sea helps me get rid of daily stress and find balance in life.

    Finally, I like to sit in coffee and chat with friends. It's a great time to share joys, worries and all aspects of life. I believe that friendships and relationships are the precious things in life, and I always want to take the time to build and nurture those relationships.

    <br></br>It's a little bit about me and my hobbies. I am always open to discovering more about the world around me and learning from new experiences. </p>